*{
    scroll-behavior: smooth;
 }
body{
    background-color: aquamarine;
}
.head{
    height: 80px;
    width: 100%;
    /* border: 4px solid black; */
    display: flex;
    align-items: center;
    background-color: rgb(82, 120, 107,0.3);
    position: fixed;
    top: 0;
    z-index: 1000;
    backdrop-filter:blur(5px);
    /* background-color: aquamarine; */
   }
.head img{
    width:5%;
   }
.head ul{
    width: 600px;
    display: flex;
    list-style-type:none;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    right: 10px;
}
.head ul:hover a{
    color:black;
}
.head a{
    text-decoration: none;
    font-size: 20px;
    color:rgba(0, 0, 0, 0.329);
    font-family: algerian;
    font-weight: bold;

}
.head li:hover a{
    color: blue;
}
.Home{
    text-align: center;
    height: 700px;
    width: 100%;
    background-color: aquamarine;
    /* margin-top: 50px; */
    
}
.Home img{
    height: 600px;
    width:90%;
    margin-top: 20px;
}
.rec{
    height: 700px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    background-color: aquamarine;
    padding: 70px;
    
}
.rec img{
    width: 200px;
    height: 200px;
    margin-left: 20px;

}
.rec img:hover{
    transform: scale(1.2);
    border-radius: 20px;
    transition:all 3s
}
.top{
    height: 700px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    background-color: aquamarine;
    padding: 70px;
   
}
.top img{
    width: 200px;
    height: 200px;
    margin-left: 20px;
    border-radius: 20px;

}
.top img:hover{
    transform: scale(1.2);
    border-radius: 20px;
}
.upc{
    height: 700px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    background-color: aquamarine;
    padding: 70px;
    padding-top: 50px;
    
} 
.upc img{
    width: 200px;
    height: 200px;
    margin-left: 20px;

}
.upc img:hover{
    transform: scale(1.2);
    border-radius: 20px;
}
.carousel-inner img{
    width: 90%;
    margin-left: 70px;
    margin-top: 100px;
    
}
.about
{
   padding-top: 40px;
   background-color: aquamarine;
   /* padding-bottom: 70px; */
}
.about p{
    text-align: justify;
    justify-content: center;
}
.soc{
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: left;
    background-color: aquamarine;
}
.soc a img{
     width: 30px;
     height: 30px;
     filter: saturate(0);
     margin-left: 20px;
}
.soc a img:hover{
    transform: scale(1.2);
    filter: saturate(1);
}
.soc h3{
    margin-left: 20px;
    font-size: 30px;
    padding-top: 10px;
}

